
footer {
  margin: 2em 0;
}

.main-content {
  background-color:$white; 
  margin-top: 3rem;

  h2 {
    margin-top: 2rem;

    &:after {
      background: #fec325;
      content: '';
      display: block;
      height: 5px;
      margin: 10px 0 0 0;
      width: 60px;
    }
  }

    h3 {
      letter-spacing: 3px;
    }
  
}

.fa {
  color: rgb(26, 78, 59);
}
