.feeds {
  min-height: 15rem;
  .card {
    .card-section {
      min-height: 1px
    }
    a {
      &:link, &:visited {
        color: $white;
      }
    }
    img {
      height: 150px;
      margin: 0 auto;
      display: block;
      border: $dark-gray 1px solid;
    }
  }
 
  .community-center {
    .fa-spinner {
      font-size: 50px;
    }
  }
}



