.comm-events {
  min-height: 15rem;
  .card {
    .card-section {
      min-height: 1px
    }
    a {
      &:link, &:visited {
        color: $white;
      }
    }
    img {
    }
  }
 
  .community-center {
    .fa-spinner {
      font-size: 50px;
    }
  }
}



