.comm-events {
  min-height: 15rem;
  .card {
    .card-section {
      min-height: 1px
    }
    a {
      &:link, &:visited {
        color: $white;
      }
    }
    
  }
 
  .community-center {
    .fa-spinner {
      font-size: 50px;
    }
  }
}

.recent-news {
  .news-item {
    margin: 0 0 3rem 0;
  }
}



