
.card {
  .card-section {
    min-height: 1px
  }
  a {
    &:link, &:visited {
      color: $black;
    }
  }
  
}

.loading-elem {
  .fa-spinner {
    font-size: 50px;
  }
}


.recent-news {
  .news-item {
    margin: 0 0 3rem 0;
  }
}




