.page-header {
  font-size: 1em;
  background: $secondary-color url('../img/horses-yellow.jpg') no-repeat center center;
  background-size: cover;
  color: $white;
  padding: 4rem 0 1rem 0;
  border-bottom: 2px solid $primary-color;
  h1 {
    font-weight: $global-weight-normal;
    color: $white;
    margin: 0;
  }

  .subheader {
    color: hsl(48, 60%, 75%);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  }

}