.sticky-container {
  z-index: 15;
}

.top-bar {
  color: $white;
  border-bottom: 4px solid #FFD530;

  .top-bar-left {
    height: 31.5px;
  }

  .army-icon {
    position: absolute;
    left: 50%;
    top: 10px;
    background: url(../img/sprite-icons.svg) no-repeat left -101px;
    width: 52px;
    height: 64px;
  }

  .social {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      background: url(../img/sprite-icons.svg) no-repeat left top;
      width: 30px;
      height: 24px;
      margin: 0 0.5rem;
    }
    .facebook {
      background-position: -54px 0px;
      width: 15px;
    }
    .twitter {
      background-position: 0 0;
      width: 30px;
    }
    .instagram {
      background-position: -68px 0px;
      width: 26px;
    }
    .flickr {
      background-position: -93px 0;
      width: 26px;
    }
  }
}




