<header class="page-header">
    {{> top-bar}} 
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="medium-7 large-6 cell">
          <h1>Welcome to Fort Carson</h1>
          <h4 class="subheader">The best hometown in the army - Home of America's best!</h4>
        </div>
        <div class="medium-5 large-6 cell">
          <div class="callout primary">
            <p class="lead">Road Conditions</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, modi? Odio sunt esse velit et quas, dolorem quaerat
              fugiat excepturi impedit. Quaerat voluptate officia vero aspernatur hic nobis numquam reprehenderit.</p>
          </div>
        </div>
      </div>
    </div>
  </header>