<button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
</button>
<ul class="vertical menu">
  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi totam quasi repudiandae? Laborum repellendus tempore veritatis possimus omnis, a itaque voluptatum corporis corrupti distinctio rerum nostrum, aspernatur architecto impedit voluptate?</li>
  <li>Voluptatum quisquam aliquid corrupti possimus voluptatibus rerum illo recusandae saepe perferendis? Facere nihil quam esse alias amet, pariatur consequuntur temporibus natus quod tempore, veritatis recusandae porro quaerat vero, dolore nulla?</li>
  <li>Fugiat illo enim deserunt sint nobis deleniti tempora, perferendis ea quia vel quasi est, omnis, corrupti cumque nisi dicta ipsam inventore expedita explicabo maxime animi ab? Explicabo animi doloribus officia?</li>
  <li>Voluptate expedita facilis magni eum esse iste tenetur dolorem, incidunt saepe vitae perspiciatis, architecto sint molestiae, ex dignissimos porro recusandae dicta dolore quisquam! Ratione consequuntur natus necessitatibus, quis sit pariatur.</li>
  <li>Dolores sequi sint veritatis, atque quia eveniet, quidem voluptate officia aut labore esse nisi, obcaecati itaque iusto ea! Minima, suscipit in? Tenetur repellendus ipsum fuga architecto quia provident temporibus minus.</li>
  <li>Exercitationem tempora consequuntur perspiciatis quas aliquid repellendus, deserunt amet architecto sint earum molestiae ut minus ducimus obcaecati molestias nisi cumque odio temporibus adipisci modi voluptatibus! Autem quae ut ea animi.</li>
</ul>