<div data-sticky-container>
  <div class="top-bar" data-sticky data-margin-top="0" data-sticky-on="small" style="width:100%">

    <div class="top-bar-left">
      <button class="menu-icon" data-toggle="offCanvas" type="button"></button>
      <span class="title-bar-title"> Fort Carson</span>
      <span class="army-icon"></span>
    </div>
    
    <div class="top-bar-right">
      <ul class="no-bullet social show-for-medium">
        <li class="facebook"></li>
        <li class="twitter"></li>
        <li class="instagram"></li>
        <li class="flickr"></li>
      </ul>
    </div>

  </div>
</div>