
<div class="title-bar" data-responsive-toggle="responsive-menu">
  <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div data-sticky-container>
  <div class="top-bar" id="responsive-menu" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Fort Carson</li>
        <li><a href="#0">One</a></li>
        <li><a href="#0">Two</a></li>
        <li><a href="#0">Three</a></li>
        <li><a href="#0">Four</a></li>
      </ul>
      <span class="army-icon show-for-large">
      </span>
    </div>
    
    <div class="top-bar-right">
      <ul class="no-bullet social">
        <li class="facebook"></li>
        <li class="twitter"></li>
        <li class="instagram"></li>
        <li class="flickr"></li>
      </ul>
    </div>
  </div>
</div>